<div class="coach-container">
  <h1>Good Job Baby 👌</h1>

  <form action="answer" data-turbo="false">
    <div class="mb-3">
      <label for="question">Your question</label>
      <input type="text" id="question" name="question" class="form-control" placeholder="Ask yout coach...">
    </div>
    <input type="submit" value="Ask!", class="btn btn-primary w-100">
  </form>
</div>
